### Question 2

What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

In [17]:
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

### Question 3

In [18]:
array  = ([[94, 89, 63],[93, 92, 48],[92, 94, 56]])

print(array[0][1:])
print(array[1][1:])

[89, 63]
[92, 48]

### Question 4

Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?

In [19]:
y = [(2, 4), (7, 8), (1, 5, 9)]

y[1][1]

8

In [20]:
import pandas as pd

df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

### Question 5

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [21]:
print(round(df.describe().loc[['mean'], ['Y2017']], 2))
print(round(df.describe().loc[['std'], ['Y2017']], 2))

       Y2017
mean  140.92
       Y2017
std  1671.86

### Question 6

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [22]:
# group dataset by each unique item under Element column
# sums the value for that item under each year

df_stock_variation = df.groupby('Element').sum().loc[['Stock Variation'], ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]
df_stock_variation

                    Y2014     Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

In [23]:
df_stock_variation.loc['Stock Variation'].idxmax(axis=0)

'Y2014'

### Question 7

How would you check for the number of rows and columns in a pandas DataFrame named df?

In [24]:
df.shape # tells the number of rows and columns

(60943, 12)

### Question 8

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [25]:
df_wine_item = df.groupby('Item').sum()

df_wine_item.loc[['Wine'], ['Y2015', 'Y2018']]

        Y2015    Y2018
Item
Wine  4251.81  4039.32

### Question 9

In [26]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

### Question 10

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [ ]:
df_nulldata_2014 =  df['Y2014'].isnull()

percent = round((df_nulldata_2014.sum() / df_nulldata_2014.count()) * 100, 3)

print("total number: ", df_nulldata_2014.sum()  )
print("percent: " + str(percent) + "%"  )

total number:  1589
percent: 2.607%

### Question 11

What is the total Protein supply quantity in Madagascar in 2015?

In [ ]:
df_elements = df.groupby(["Area","Element"]).sum()

df_madagascar = df_elements.loc['Madagascar']

df_madagascar.loc[['Protein supply quantity (g/capita/day)'], ['Y2015']]

                                         Y2015
Element
Protein supply quantity (g/capita/day)  173.05

### Question 12

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [ ]:
df_area = df[['Y2017', 'Area']].groupby('Area').sum()

# get a list of the 7 lowest sums 
list_of_7 = df_area.nsmallest(7, ['Y2017'])
area = list_of_7.idxmax() # the 7th lowest will be the largest 
area

Y2017    Guinea-Bissau
dtype: object

### Question 14

What is the total number of unique countries in the dataset?

In [ ]:
len(df.groupby('Area').sum())

49

### Question 16

Which year had the least correlation with ‘Element Code’?

In [ ]:
df_element_code = df[['Element Code','Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]

df_element_code.corr()[['Element Code']].idxmin()

Element Code    Y2016
dtype: object

### Question 17

In [ ]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

pd.DataFrame(lst, columns=col, index=[1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

### Question 18

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [ ]:
df_elements = df.groupby('Element').sum()

df_elements.loc[['Processing'], ['Y2017']].iat[0, 0]

292836.0

### Question 19

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [ ]:
df_area = df[['Y2017', 'Area']].groupby('Area').sum()

country_with_highest_sum = df_area['Y2017'].idxmax()

country_with_highest_sum

'Nigeria'